body {
    margin: 0 auto;
    text-align: center;
    background-color: grey;
}

#hero-img {
    width: 100%;
}

.icon {
    width: 20%;
    border-radius: 50%;
    border: 10px solid #606060;
    margin: 2%;
}